
.image{
width: 60%;

} 
@media(max-width:750px)
{
    
}
.bg-light {
    background-color:rgb(235 235 239)!important;
    
    
}
.navbar-light .navbar-nav .nav-link .active{
    color:rgb(2, 50, 2);
    background-color: aqua;
   
   
}
 .navbar-light .navbar-nav .nav-link{
       border-radius: 0.5rem;
        color: rgb(1, 9, 9); 

    } 

 
.ms-auto {

    margin-left: auto!important;
}
.navbar {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.1PX;
    padding-bottom:0px;
    
}
 .card-body {
   position: relative;
    /* text-align: center; */
body{
    
        max-width: 180px;
        width: 100%;
        width: auto;
    }
} 
.text-more{
    display: none;
} 
.navbar-light .navbar-nav .nav-link{
    color: rgb(9, 185, 15);

}

/* .activelink{
    background-color: rgb(192, 184, 184);
    color: rgb(248, 246, 246);
    border-radius: 0.5rem;
    }
     */
    
 #as{
    color:rgba(25, 35, 25, 0.879);
    font-size: 20px;
    text-decoration: none;
     padding: 10px;  
} 

/* #as:hover{
    background-color: rgb(99, 108, 120);
    color: rgb(255, 247, 247);
    border-radius: 0.5rem;
    position: relative;
   
}  */
/* .navbar-toggler-icon {

    margin-left: 16rem;
} */